@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Shadows+Into+Light';


/*LAYOUT*/
body {
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  padding: 2em 1em;
  color: #b0c4de;
  background-color: rgb(66, 68, 71);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

section {
  margin-left: -24px;
  margin-right: -24px;
  padding: 1em 1em;
}

h1, h2 {
  color: #b0c4de;
}

h1 {
  padding-top: 1em;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 60em;
}

a:link {
    color: #87cefa;
}

a:visited {
    color: green;
}

a:hover {
    color: #dc143c;
}

a:active {
    color: blue;
}

/*NAV BAR*/
header {
  background-color: rgb(66, 68, 71);
  margin-top: -40px;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#mainNav ul li {
  display: inline-block;
  padding: 0 2em 0 2em;
  font-size: 1.5em;
}

#mainNav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ecf0f1;
}

#mainNav ul li a:hover {
  color: #3498db;
}

/*LANDING*/
#landingPage {
  height: 600px;
  background: rgb(48, 71, 94);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#landingPage h1 {
  font-size: 4em;
  font-family: 'Shadows Into Light', cursive;
  color: #f39c12;
  text-align: center;
}

#landingPage p {
  font-size: 1.5em;
  color: #ecf0f1;
  text-align:center;
}

/*CONTACT*/
#socialMedia {
	text-align: center;
}

.contactIcon {
	width: 70px;
	height: 70px;
}
